@import "tailwindcss";

:root {
  --background: #171717;
  --highlight: #222222;
  --foreground: black;
  --mainText: white;
  --transition-time: 500ms;
  --dropshadow-color: black;
  --row1-height: 3.3rem;
  --row3-height: 40%;
  font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.siteCont{
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.animatedBg{
  --bg-accent-col1: blue;
  --bg-accent-col2: rgb(255, 30, 68);
  position: absolute;
  top: 0px;
  z-index: 0;

  height: 100%;
  width: 100%;

  display: grid;
  grid-template: var(--row1-height) auto var(--row3-height) / auto;
  background-color: black;
}

@property --bg-grad-col-1{
  syntax: "<color>";
  inherits: true;
  initial-value: blue;
}

@property --bg-grad-col-2{
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 30, 68); 
}

.animatedCont{
  grid-area: 2 / 1 / 2 / 1;
  background: linear-gradient(45deg, var(--bg-grad-col-1), var(--bg-grad-col-2));
  animation: changingGrad 10s ease-in-out infinite;
} 

@keyframes changingGrad{
  50%{
    --bg-grad-col-1: purple;
    --bg-grad-col-2: yellow;
  }
  100%{
    --bg-grad-col-1: blue;
    --bg-grad-col-2: rgb(255, 30, 68);
  }
} 

.mainContainer{
  position: absolute;
  z-index: 1;
 
  width: 100%;
  height: 100%;

  display: grid; 
  grid-template: var(--row1-height) auto var(--row3-height) / auto;
  transition: grid-template var(--transition-time);
}

.mainContainer:has(> .bgRadContainer:hover){
  grid-template: 3.3rem auto 42% / auto;
}

.navContainer{
  grid-area: 1 / 1 / 1 / 1;
  background-color: var(--background);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
}

.navFlx1, .navFlx2, .navFlx3{
  display: flex;
  margin: 0px;
  height: 100%;
  align-items: center;
}

.navFlx1, .navFlx3{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 3rem;
  justify-content: center;
}

.navFlx2{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.infoBtn, .menuBtn{
  border: 0.5rem;
  border-style: none;
  border-radius: var(--radius-2xl);
  margin: 0px;
  width: 1.8rem;
  height: 1.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.infoBtn:hover, .menuBtn:hover{
  transition: all 0.04s ease-in-out;
  background-color: var(--highlight);
  border-color: var(--highlight);
  border-style: solid;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.searchBarBtn{ 
  border: 0.15rem solid black;
  background-color: black;
  border-radius: var(--radius-xl);
  color: white;
  height: 2rem;
  padding-left: 0.5rem;
}

.infoBtn{
  background-image: url(./i_icon_black.png);
}

.menuBtn{
  background-image: url(./hb_icon_black.png);
}

.locationInfoContainer{
  grid-area: 2 / 1 / 2 / 1;
  background-image: url(./map.png);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: right 35% top 45%;
  background-attachment: fixed;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
 
.bgRadContainer, .bgRadSubContainer, .locationInfoSubContainer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.locationInfoSubContainer{
  border-radius: var(--radius-3xl);
  width: 90%;
  height: 50%;
  max-width: 50rem;
  background-color: rgba(34, 34, 34, 80%);
  color: white;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
}

.locationName, .locationSubNat{
  padding: 0px;
  margin: 0px;
}  

.locationName{
  font-size: 5rem;
  font-weight: 600;
}

.locationSubNat{
  font-size: 2rem;
  font-weight: 500;
  font-style: italic; 
}

.bgRadContainer{
  grid-area: 3 / 1 / 3 / 1;
  background-color: rgb(34, 34, 34);
  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
} 

@property --grad-col-1{
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(44, 44, 44);
}

@property --grad-col-2{
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(29, 29, 29);  
}

.bgRadSubContainer{
  width: 90%;
  height: 80%;
  border-radius: var(--radius-2xl);
  color: white;
  text-align: center;
  background: linear-gradient(45deg, var(--grad-col-2), var(--grad-col-1));
  transition: 
    --grad-col-1 var(--transition-time), 
    --grad-col-2 var(--transition-time), 
    width var(--transition-time), 
    height var(--transition-time),
    --rad-figure-size var(--transition-time),
    --rad-unit-size var(--transition-time),
    --rad-title-size var(--transition-time)
  ;
  filter: drop-shadow(0 0.5rem 0.5rem var(--dropshadow-color));
  padding: 0.8rem;
}

.bgRadSubContainer:hover{
  --grad-col-2: rgb(44, 44, 44);
  --grad-col-1: rgb(29, 29, 29);
}

.bgRadSubContainer:has(> .bgRadContainer:hover){
  width: 92%; 
  height: 82%;
}

.radFig:has(> .bgRadContainer:hover){
  font-size: 5.1rem;
}

.radContTitle:has(> .bgRadContainer:hover){
  font-size: 2.6rem;
}

.radUnit:has(> .bgRadContainer:hover){
  font-size: 4.6rem;
}

.radFigCont{
  display: inline-flex;
  align-items: baseline;
}

.radContTitle, .radFig, .radUnit{
  font-style: italic;
}

.radContTitle{
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  transition: font-size var(--transition-time);
}

.radFig{
  font-weight: 700;
  font-size: 5rem;
  transition: font-size var(--transition-time);
}

.radUnit{
  font-weight: 600;
  font-size: 4.5rem;
  transition: font-size var(--transition-time);
}

.filterContainer{
  display: none;
  position: absolute;
  height: 100%;
  width: 20%;
  z-index: 3;
  background-color: #171717;
  /* display: grid; */
  grid-template: 8% 2% 90% / auto; 
}

.filterSearchBarCont{
  grid-area: 1 / 1 / 1 / 1;
  background-color: #171717;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.filterSearchBar{
  color: white;
  background-color: black;
  font-size: 1.3rem;
  width: 90%;
  height: 3rem;
  padding-left: 0.9rem;
  border-radius: var(--radius-2xl);
  transition: filter 50ms;
}

.filterSearchBar:hover{
  filter: drop-shadow(0 0 0.3rem gray);
}

.filterSearchBar:focus{
  border: none;
  outline: none;
}

.divLine{
  grid-area: 2 / 1 / 2 / 1;
  color: gray;
  width: 85%;
  justify-self: center;
}

.resultGrid{
  grid-area: 3 / 1 / 3 / 1;
  background-color: #171717;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 2.9rem;
  gap: .6rem;
  justify-items: center;
}

.reusltItemCont{
  background-color: #303030;
  border-radius: var(--radius-lg);
  display: flex;
  flex-flow: row nowrap; 
  align-items: center;
  color: white;
  filter: drop-shadow(0 0 0.3rem var(--dropshadow-color));
  width: 89%;
}

.reusltItemCont:hover{
  background-color: #363636;
  filter: drop-shadow(0 0 0.3rem rgb(20, 20, 20));
  cursor: pointer;
}

.resultName{
  font-size: 1.3rem;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  margin-left: 0.5rem;
} 

.resultLocation{
  width: fit-content;
  font-size: 0.9rem;
  height: fit-content;
  vertical-align: bottom;
  margin-left: 0.3rem;
}

.blackOutDiv{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: black;
  opacity: 60%;
  display: none;
}

@media(max-width: 800px){
  .locationInfoContainer{
    background-position: -15rem -8rem;
  }
}

@media(max-height: 1920px) and (max-width: 1080px){
  .bgRadContainer{
    justify-content: flex-start;
  }

  .bgRadSubContainer{
    margin-top: 2rem;
    height: 70%;
  }

  .bgRadSubContainer:hover{
    margin-top: 2rem;
    height: 70%;
  }

  :root{
    --row1-height: 3.3rem;
    --row3-height: 55%;
  }

  .bgRadSubContainer:has(> .bgRadContainer:hover){
    width: 92%; 
    height: 75%;
  }

  .radFig:has(> .bgRadContainer:hover){
    font-size: 5.1rem;
  }

  .radContTitle:has(> .bgRadContainer:hover){
    font-size: 2.6rem;
  }

  .radUnit:has(> .bgRadContainer:hover){
    font-size: 4.6rem;
  }

  .mainContainer:has(> .bgRadContainer:hover){
    grid-template: 3.3rem auto 57% / auto;
  }

  .locationName{
    font-size: 3.5rem;
    font-weight: 550;
  }

  .locationSubNat{
    font-size: 1.5rem;
  }

  .radContTitle{
    font-size: 2rem;
  }
}
